MONGODB_URI=mongodb+srv://<username>:<password>@hospital.wabbsrz.mongodb.net/?appName=Hospital
POSTGRESQL_URI=postgresql://<user>:<pass>@host:port/dbname
GOOGLE_MAPS_API_KEY=your_google_maps_api_key_here
FLASK_SECRET_KEY=change-me
